#about {
  padding-top: 2rem;
  gap: 2rem;

    & #description {
      margin-top: 1rem;

      & p {
        margin-top: .5rem;
        line-height: 170%;
        
      }
    
    }

    & #info {
      width: 17.5rem;

      & ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        & li {
          gap: .5rem;
        }
        
      } 
    }


  }

    @media (width >= 80em) {
      #about {
        & #profile {
          display: grid;
          grid-template-columns: 12.5rem 27rem;
          gap: 2rem;
      }

      & #description {
        margin-top: 0;
    }
  }
}
    


