footer {
  flex-direction: column;
  padding-block: 1rem;
  gap: 1rem;
  & #term {
    gap: 1rem;
    
  }
}

  @media (width >= 80em) {
    footer {
    display: flex;
    flex-direction: row;
    padding-block: 1.5rem;
    gap: 1rem;
    & #term {
      margin-left: auto;
    }
    
  }
}
